<h1>Postar</h1>

<%= form_for([@post, @post = Post.new], remote: true) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, placeholder: 'Digite aqui o seu texto.', class: 'form-control', rows: 3 %>
    <em>ENTER = Submeter | SHIFT + ENTER = Mudança de Linha</em>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    // Submete o formulário com ENTER e Limpa a caixa de Texto
    $('textarea#post_body').on('keyup', function(e){
      if (e.which == 13 && ! e.shiftKey){
        $(this.form).submit();
        $('#post_body').val('');
      }
    });
  });
</script>

<div class="my-posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
