<h1>Postar</h1>

<%= form_for([@post, @post = Post.new], remote: true) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, placeholder: 'Your Post Here', class: 'form-control', rows: 3 %>
  </div>
  <%= f.submit 'Postar', class: 'btn btn-large btn-primary' %>
<% end %>

<div class="my-posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
